@font-face {
	font-family: 'hauntedEyes';
	src: url('vendor/fonts/hauntedEyes.otf'),
	url('vendor/fonts/hauntedEyes.ttf') format('truetype');
}

@font-face {
	font-family: 'CODEBold';
	src: url('vendor/fonts/CODEBold.otf'); /*make ttf?*/
}

body, html {
    height: 100%;
	background-color: black;
}

.navbar-toggler-color-change {
    color: white !important;
    border-color: white !important;
}

.icon-color-change {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

nav {
	font-family: 'CODEBold', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing:2px;
}

	@media all and (max-device-width: 480px), (max-width: 768px) {
		#colorChange {
			background-color: rgba(91, 91, 91, 0.9); /* adjust */
		}
	}

nav a {
	color: white;
	font-size: 1.2em;
}

nav li {					
	padding-left: 10px;
	padding-right: 10px;
}

.nav-link-color-change {
	color: rgba(255, 255, 255, 1) !important;
}

a:hover {
	text-decoration: none;
	color: white; /* maybe light gray? */
}

header {
	text-align: center;
	font-family: 'hauntedEyes', Arial, serif;
	padding: 18em 0;
	background: url("img/intro.jpeg") no-repeat center;
	height: 100%;
	background-size: cover;
}

	@media all and (max-device-width: 480px) {
		header {
			padding: 10em 0;
		}
	}

header h1 {
	font-size: 100px;
}

.pwrap {
	text-align: center;
	font-family: 'Rock Salt', Arial, 'sans-serif';
	padding-top: 20em;
	min-height: 100vh;
}

	@media all and (max-device-width: 480px) {
		.pwrap {
			padding-top: 16em; /* adjust */
		}
	}

.temporary {
	font-size: 4em;
	color: white;
}

	@media all and (max-device-width: 480px) {
		.temporary {
			font-size: 2em;
		}
	}

	
#badges, #contact {
	background-color: #5b5b5b;
}

footer {
	background-color: black;
	color: white;
	text-align: center;
}


