@font-face {
	font-family: 'hauntedEyes';
	src: url('vendor/fonts/hauntedEyes.otf'),
	url('vendor/fonts/hauntedEyes.ttf') format('truetype');
}

body, html {
    height: 100%;
	background-color: #000;
}

/* navbar */

nav {
	font-family: 'Carrois Gothic SC', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing:2px;
}

	@media all and (max-device-width: 480px), (max-width: 767px) {
		#colorChange {
			background-color: rgba(91, 91, 91, 0.9);
			border-bottom: 1px solid #000;
		}
	}

nav a {
	color: #fff;
	font-size: 1.2em;
}

	nav a:hover {
	text-decoration: none;
	color: #fff;
}

nav li {					
	padding-left: 10px;
	padding-right: 10px;
}

.nav-link-color-change {
	color: rgba(255, 255, 255, 1) !important;
}

.navbar-toggler-color-change {
    color: #fff !important;
    border-color: #fff !important;
}

.icon-color-change {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important; /* modified Bootstrap */
}

/* header */

header {
	text-align: center;
	font-family: 'hauntedEyes', Arial, serif;
	padding: 18em 0;
	background: url("img/intro.jpeg") no-repeat center;
	height: 100%;
	background-size: cover;
}

	@media all and (max-device-width: 480px) {
		header {
			padding: 10em 0;
		}
	}

header h1 {
	font-size: 100px;

}

/* sections */

section {
	text-align: center;
	font-family: 'Montserrat', Arial, 'sans-serif';
	padding-top: 10em;
	min-height: 100vh;
	padding-bottom: 2em;
}

	@media all and (max-device-width: 480px) {
		section {
			padding-top: 8em;
		}
	}

h2 {
	font-family: 'Rock Salt', Arial, 'sans-serif';
	font-size: 4em;
	color: #fff;
	padding-bottom: 1em;
}

	@media all and (max-device-width: 480px) {
		h2 {
			font-size: 2em;
		}
	}
	
h3 {
	margin: 2em 0;
}

#badges, #contact {
	background-color: #5b5b5b;
}

/* about me */

/* badges */

#badges p {
	margin-top: 20px;
}

#badges a {
	color: #212529;
	text-decoration: none;
}

.language {
	padding: 20px; 
}

	.language:hover {
		background-color: #8c8c8c;
	}

.checked {
    color: #ffa500;
}

div.language>p {
	margin-bottom: 0;
}

	/* override Bootstrap */

.ekko-lightbox-nav-overlay a{
	color:#000;
}

.modal-content {
	background-color: #000;
}

.ekko-lightbox-nav-overlay a {
	font-size: 90px;
}

.onlineProfiles a {
	border: 1px solid #fff;
	border-radius: 5px;
	margin: 10px;
}

	.onlineProfiles a:hover {
		background-color: #fff;
	}
	
/* code */

#code p, #code li {
	color: #000;
	font-size: 1.5em;
}

#code h3 {
	font-weight: 800;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	text-transform: uppercase;
}

.codeExample {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 20px;
	margin-top: 3em;
	margin-bottom: 3em;
}

#code ul {
	list-style-type: none;
	padding-left: 0;
}

#code li {
	text-decoration: underline;
	margin-top: 1.5em;
}

#code img, #code iframe {
	margin-top: 1.5em;
}

#code a {
	color: #000;
	text-decoration: none;
}

	#code a:hover {
		color: #fff;
	}

/* contact form */

#form .container {
	border: 1px solid #fff;
}

label {
	padding: 10px 0;
	font-family: 'Carrois Gothic SC', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
}

input, textarea {
	border-radius: 5px;
	padding: 2px;
	background-color: #efefef;
	font-family: 'Kavivanar', Arial, sans-serif;
}

button {
	font-family: 'Carrois Gothic SC', Arial;
}

#submitBtn {
	border: 1px solid #fff;
	border-radius: 5px;
	font-family: 'Carrois Gothic SC', Arial;
	color: #fff;
	background-color: #5b5b5b;
	padding: 5px 15px;
	margin-bottom: 10px;
}

	#submitBtn:hover {
		color: #5b5b5b;
		background-color: #efefef;
		font-weight: bold;
	}

.thxMessage {
	margin-top: 15px;
	font-family: 'Rock Salt', Arial, 'sans-serif';
	font-size: 4em;
	color: #fff;
}

	@media all and (max-device-width: 480px) {
		.thxMessage {
			font-size: 2em;
		}
		
	}
		
.changeAfterSubmit {
	display: none;
}

/* footer */

footer {
	background-color: #000;
	color: #fff;
	text-align: center;
	margin: 10px;
}

footer p {
	padding-top: 10px;
}